@import url('https://fonts.googleapis.com/css2?family= Itim & display = swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    justify-content: center;
    
}

body {
    display: flex;
    font-family: 'Itim', sans-serif;
    background: rgb(11, 11, 11);
    color: #fff;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Foto */
.profile-image {
    margin-top: 10px;
    margin-left: 15px;
}

.avatar {
    display: flex;
    width: 270px;
    height: 250px;
    border-radius: 100%;
    border: 3px solid #fff;
}

/* Nome*/
.name {
    margin-top: 100px;
    margin-left: 25px;
    font-size: 30px;
    color: rgb(240, 11, 99);
}

/* Localização */
.location {
    display: inline-block;
    margin-left: 25px;
}

.icon {
    display: inline-block;
    width: 25px;
}

/* Sobre mim */
.description {
    margin-top: 18px;
    margin: 25px;
    font-size: 18px;
}

/* Redes sociais */
.social-media {
    display: inline-block;
    margin-left: 25px;
}

.link {
    width: 30px;
    margin: 0px 8px 0px 0px;
}

/* ajustes botões */
button {
    cursor: pointer;
    border: none;
}

.social-media button,
.social-media button:hover{
    background: none;
}


button:hover {
    background: rgb(175, 21, 80);
}

.contact-me {
    margin-top: 25px;
    display: flex;
}

/* Curriculo */
.download {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: rgb(240, 11, 99);
    border-radius: 18px;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    padding-top: 15px;
}

a {
    text-decoration: none;
}

.cv {
    font-size: 19px;
    color: #fff;
}

/* download icon png*/
.download-cv-icon {
    text-align: center;
    width: 20px;
    margin-left: 5px;
}

/* Gmail png*/
.gmail-button {
    background: rgb(240, 11, 99);
    border-radius: 18px;
    width: 100px;
    height: 50px;
    margin-left: 10px;
}

.gmail {
    width: 30px;
}

/* Habilidades */
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 10px;
}

.skill-title {
    font-size: 35px;
    display: inline-block;
    margin-bottom: 20px;
}

.code {
    display: inline-block;
    width: 28px;
    margin-left: 5px;
}

/* linguagens */
.front-end {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;

}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(11, 11, 11);
    border: 2px solid rgba(255, 255, 255, 0.103);
    border-radius: 10px;
    width: 50%;
    height: 150px;
    margin: 5px 0px 0px 10px;
}

.language:hover {
    border: 2px solid rgb(240, 11, 99)
}

.css,
.php,
.mysql {
    width: 80px;
}

.js,
.html {
    width: 69px;
}

.bootstrap {
    width: 58px;
    height: 57px;
}

/* Projetos */
.projects {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.title-projects {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.document-icon {
    display: inline-block;
    width: 28px;
    margin-left: 5px;
}

/* Cards */
.all-projects {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card-project {
    text-align: center;
    background: rgb(18, 18, 18);
    border: 3px solid rgba(255, 255, 255, 0.103);
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin: 20px;
}

.card-project:hover {
    border: 2px solid rgb(240, 11, 99)
}

.img {
    margin: 15px;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    filter: grayscale(1);
    transition: all 500ms ease-in-out;
}

.img:hover {
    filter: none;
}

.link-projects {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(255, 0, 68);
    color: #FFFF;
    margin: 10px;
}

a {
    color: inherit;
}

footer {
    margin: 30px 0px 30px 0px;
    text-align: center;
    color: #ffff;
}

/* © Fernando Carlos. All rigths reserved */